<head>
  <style>
    body{
      text-align: center;
      font-size: 2em;
      background-color: black;
      color: white;
    }
  </style>
</head>

<body>
<h1>Welcome to task manager</h1>
<%= link_to 'My tasks', tasks_path %>
</body>
